body {
  margin: 0;
  /*
  font-family: 'Roboto', sans-serif;
  */
  font-family: sans-serif;
}
section.cover .cover-main {
  margin: 0;
}
a.btn {
  background: rgba(0,0,0,0.8) !important;
  color: white !important;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 2px;
}
section.cover .cover-main>p a {
  border: none !important;
}
small {
  letter-spacing: 0;
  color: gray;
  font-size: 11px !important;
}
section.cover .cover-main>p:last-child a {
  background: rgba(0,0,0,0.8) !important;
  color: white;
  margin: 0px;
  padding: 0 10px !important;
  letter-spacing: 0px;
  border-radius: 2px !important;
  color: white !important;
  font-size: 12px !important;
  font-family: sans-serif;
  min-width: 60px;
}
section.cover.has-mask .mask {
  background: none !important;
}
section.cover {
  background: #ffffff !important;
}
.anchor span {
  color: rgba(0,0,0,0.8);
}

h1,h2,h3 {
  font-weight: 900 !important;
}
h1 {
  font-size: 40px !important;
  letter-spacing: -3px !important;
  padding: 10px 0;
}
.cover-main {
  overflow: hidden;
}
.cover-main h1 {
  letter-spacing: -1px;
  margin: 0 !important;
  padding: 0 !important;
}
.cover-main blockquote {
  margin: 0 !important;
}
.cover-main img {
  width: 100px;
}
.cover-main p {
  font-family: Menlo, monaco, arial;
  font-size: 12px;
}
#ticker {
  overflow: hidden;
  width: 100%;
  height: 500px;
  padding: 5px;
  background: rgba(0,0,0,0.8);
  color: white;
  border: none;
  margin: 0;
  margin-top: 30px;
}
#ticker.expanded {
  height: 600px;
}
#ticker .item {
  text-align: left;
  font-size: 11px !important;
  line-height: 11px !important;
  border: none;
  background: none;
  color: white;
  width: 100%;
  height: auto;
  transition:transform 0.3s ease-out;
  transform:scaleY(1);
  transform-origin:top;
}
#ticker .item {
  display: none;
}
#ticker .item:first-child {
  display: block;
}
#ticker .item.hidden {
  transform:scaleY(0);
}
a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}
pre {
  line-height: 16px !important;
  font-size: 12px !important;
	background: #322d29 !important;
}
.markdown-section {
  max-width: 800px;
  width: 100%;
}
.markdown-section img {
  width: 100%;
}
.markdown-section code {
  background: #322d29 !important;
  color: gold !important;
}
.markdown-section code.lang-javascript {
  color: rgba(255,255,255,0.8) !important;
}
img.border {
  border: 1px solid rgba(0,0,0,0.6);
}
img.border2 {
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 2px;
  padding: 10px;
}


code[class*="language-"],
pre[class*="language-"] {
	font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
	font-size: 14px;
	line-height: 1.375;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	background: #322d29 !important;
	color: #88786d !important;
}

pre > code[class*="language-"] {
	font-size: 1em;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #6f5849 !important;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #6f5849 !important;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #8a7364!important;
}

.token.punctuation {
	color: #bfa05a !important;
}

.token.namespace {
	opacity: .7;
}

.token.tag,
.token.operator,
.token.number {
	color: #bfa05a !important;
}

.token.property,
.token.function {
	color: #bfa05a !important;
}

.token.tag-id,
.token.selector,
.token.atrule-id {
	color: #fff3eb !important;
}

code.language-javascript,
.token.attr-name {
	color: #a48774 !important;
}

code.language-css,
code.language-scss,
.token.boolean,
.token.string,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule {
	color: #fcc440 !important;
}

.token.placeholder,
.token.variable {
	color: #fcc440 !important;
}

.token.deleted {
	text-decoration: line-through;
}

.token.inserted {
	border-bottom: 1px dotted #fff3eb;
	text-decoration: none;
}

.token.italic {
	font-style: italic;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.important {
	color: #a48774 !important;
}

.token.entity {
	cursor: help;
}

pre > code.highlight {
	outline: .4em solid #816d5f;
	outline-offset: .4em;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
.line-numbers .line-numbers-rows {
	border-right-color: #35302b !important;
}

.line-numbers-rows > span:before {
	color: #46403d !important;
}

/* overrides color-values for the Line Highlight plugin
* http://prismjs.com/plugins/line-highlight/
*/
.line-highlight {
	background: rgba(191, 160, 90, 0.2);
	background: -webkit-linear-gradient(left, rgba(191, 160, 90, 0.2) 70%, rgba(191, 160, 90, 0));
	background: linear-gradient(to right, rgba(191, 160, 90, 0.2) 70%, rgba(191, 160, 90, 0));
}
